<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @{
                var status = Session["UserName"] == null ? "OUT" : "IN";
            }
            @Html.ActionLink($"NORTHWIND ({status})", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (Session["UserName"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-link text-white">Hello, @Session["UserName"]!</li>
                        <li>@Html.ActionLink("LogOut", "LogOut", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Company</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("About", "Home", new { area = "" })">About</a>
                            <a class="dropdown-item" href="@Url.Action("Contact", "Home", new { area = "" })">Contact</a>
                            <a class="dropdown-item" href="@Url.Action("Map", "Home", new { area = "" })">Map</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Application</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Index", "Products", new { area = "" })">Products</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Shippers", new { area = "" })">Shippers</a>
                            <a class="dropdown-item" href="@Url.Action("Map", "Home", new { area = "" })">Map</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
